body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #367C2B;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  height: 40px;
  margin-left: 20px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #FFD700;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1000px;
}

form {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  flex: 1;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #367C2B;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #2d6624;
  transform: scale(1.05);
}

.map-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px; /* Removed parentheses */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  flex: 2;
}


main {
  margin-top: 80px;
  padding: 20px;
}

.hero {
  text-align: center;
  padding: 40px 20px;
  color: white;
  position: relative;
}

.hero h1 {
  margin: 0;
  font-size: 2.5em;
}

.hero p {
  font-size: 1.2em;
}

.dropdown {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.dropbtn {
  padding: 10px 20px;
  background-color: #FFD700;
  color: #367C2B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropbtn:hover {
  background-color: #FFC107;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logout-button {
  padding: 10px 20px;
  background-color: #FFD700;
  color: #367C2B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1em;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #FFC107;
  transform: scale(1.05);
}

#image-container img {
    width: 43px;  
    height: 43px; 
}